* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
}

h3 {
	text-align: center;
}

img {
	display: inline-block;
}

.column {
	float: left;
	width: 33%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

p {
  font-family: verdana;
  font-size: 15px;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  position: relative;
  left: 45%;
  transform: translate(-150px);
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  backgroud-color: #111;
  color: white;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

