* {
  box-sizing: border-box;
}

/* ID's */
#video {
	position: relative;
	width: 100%;
	z-index: -1;
/*	position: relative;
	top: 25 px;
	
	padding: 200px; */
}

#about {
	background: #6b8793;
	margin: 0px auto;
}

#contact {
	width: 100%;
	background: #6b8793;
}

/* Classes */
.title {
	background-color: black;
	color: white;
	width: 100%;
	margin: 0px auto;
	top: 0;
	font-size: 15px;
}
.text {
	background-color: white;
	color: black;
	width: 100%;
	padding: 20px;
}

/* Containers */
.parent {
	display: flex;
}
.parent > div {
	display: inline-block;
}
.projectContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #f1f1f1;
	overflow: hidden;
}
.projectContainer > .thumbnail {

}
.projectContainer > div {
	background-color: #f1f1f1;
	width: 33.3%;

	text-align: center;
	line-height: 25px;
	font-size: 15px;
}

.thumbnail {
	padding: 25px;
}
.thumbnail a:hover {
	padding: 15px;
}








body {
/*  background: #354349; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
}
div{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
}

/* Text*/
h1 {
	text-align: center;
	color: white;
}
h2 {
	color: white;
	font-size: 17px;
}

h3 {
	text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
  text-align: left;
}



/* Media */
img {
	display: inline-block;
}
video {
	
	
}


/* Navigation Bar */
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin:0px auto;
  left:0px;
  right:0px;
}

li {
  float: left;
  position: relative;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  backgroud-color: #111;
  color: white;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
@viewport {
	width: device-width;
	zoom: 1.0;
}

/*
.column {
	backgroud-color: blue;
	float: left;
	width: 33%;
	padding: 5px;
	height: 200px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}
*/
