* {
  box-sizing: border-box;
}

#video {
	position: relative;
	top: 25 px;
	padding: 200px;
	height = 1080px;
	background = red;
}









body {
  background: #354349;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}
div{
	display: inline-block;
	margin: 0px auto;
	top: 0;
	width: 100%;
}
.parent {
	display: flex;
}

.parent > div {
	display: inline-block;
}

h2 {
	color: white;
	font-size: 17px;
}

h3 {
	text-align: center;
}

img {
	display: inline-block;
}
video {
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	z-index: -1;
	margin: 0px auto;
}

.column {
	float: left;
	width: 33%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

p {
  font-family: verdana;
  font-size: 15px;
  text-align: left;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin:0px auto;
  left:0px;
  right:0px;
}

li {
  float: left;
  position: relative;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  backgroud-color: #111;
  color: white;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#about {
	background: #6b8793;
	padding: 20px;
	margin: 0px auto;
}

#contact {
	width: 100%;
	background: #6b8793;
	padding: 20px;
	margin: 0px auto;
}
